{% extends 'base.html' %}
{% block content %}
<div>
    <a href="{{ url_for('clients') }}">&lt Back</a>
    <form action="{{ url_for('client', cid=client.cid) }}" method='post'>
        <div class='input-row hide'>
            <label for='cid'>CID</label>
            <input id='cid' name='cid' type='number' value='{{ client.cid }}' readonly='readonly' required='required' class='small'>
        </div>
        
        <div class='input-row'>
            <label for='name'>Name</label>
            <input id='name' name='name' type='text' value='{{ client.name }}' required='required' class='medium'>
        </div>
        
        <div class='input-row'>
            <label for='description'>Description</label>
            <input id='description' name='description' type='text' value='{{ client.description }}' required='required' class='large'>
        </div>
        
        <div class='input-row'>
            <input type='submit' value='Submit'>
        </div>
    </form>
</div>
{% endblock %}