{% extends 'base.html' %}
{% block content %}
<div>
    <a href="{{ url_for('sites') }}">&lt Back</a>
    <form action="{{ url_for('site', sid=site.sid) }}" method='post'>
        <div class='input-row hide'>
            <label for='sid'>SID</label>
            <input id='sid' name='sid' type='number' value='{{ site.sid }}' readonly='readonly' required='required'>
        </div>
        
        <div class='input-row'>
            <label for='address'>Address</label>
            <input id='address' name='address' type='text' value='{{ site.address }}' required='required'>
        </div>
        
        <div class='input-row'>
            <input type='submit' value='Submit'>
        </div>
    </form>
</div>
{% endblock %}