/* Global styles */
html {
    overflow-y: scroll;
}
body {
    padding: 4.5em 0;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
div {
    max-width: 40em;
    margin: 0 auto;
    padding: 2% 0;
    position: relative;
}
ul {
    margin: 0 auto;
}
li {
    margin: 10px;
}
a {
    text-decoration: none;
    color: #5d8eec;
    border: 1px solid #5d8eec;
    border-radius: 5px;
    padding: 0 8px;
    box-shadow: 0px 2px 8px rgba(144, 149, 158, 0.26);
}
a:hover {
    color: #000000;
}
/* Beginning of navbar styles*/
nav {
    width: 100%;
    height: 3.5em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0px 2px 8px rgba(144, 149, 158, 0.26);
}
#logo img {
    position: fixed;
    height: 30px;
    width: auto;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#logout a {
    position: fixed;
    top: 1.15em;
    right: 20px;
}
/* End of navbar styles*/
/* Beginning of content styles */
.header {
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
    color: #525353;
}
.inline {
    float:left;
    display:inline;
}
table {
    border-collapse: collapse;
    border-spacing: 0.2em 1em;
    width: 100%;
}
td {
    padding: 0.8em 0;
}
.link-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hide {
    display: none;
}
.scroll-table thead, .scroll-table tbody {
    display: block;
}
.scroll-table tbody {
    height: 20em;
    overflow-y: scroll;
}
.scroll-table tbody::-webkit-scrollbar {
    -webkit-appearance: none;
}
.scroll-table tbody::-webkit-scrollbar:vertical {
    width: 10px;
}
.scroll-table tbody::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}
.scroll-table tbody td, .scroll-table thead th {
    width: 20%;
}
table tbody tr:nth-child(even) {
    background-color: rgba(144, 149, 158, 0.15);
}
thead {
    border-bottom: 1.5px solid #5d8eec;
}
tbody, tfoot {
    font-size: 0.8em;
}
.delete, input[type=submit] {
    max-width: 6em;
    color: inherit;
    border: none;
    padding: 0 8px;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
    color: #5d8eec;
    border: 1px solid #5d8eec;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(144, 149, 158, 0.26);
}
.delete:hover {
    color: #000000;
}
.small {
    width: 3em;
}
.medium {
    width: 10em;
}
.large {
    width: 20em;
}
#search-and-filter {
    margin: 1em 0;
}
#search {
    position: absolute;
    left: 0;
    font-size: 1.1em;
    height: 1.2em;
}
/* End of content styles */